[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "==2.2.5"
apache-airflow-providers-google = "==7.0.0"
pyspark = "==3.2.1"
google-cloud-storage = "*"
google-cloud-bigquery = "*"
typing-inspect = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9.5"
